.about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} 
.container-dark{
    background-color: #0f0f0f;
    color: white;
} 
.container-light{
    background-color: white;
    color: #0f0f0f;
}