.header__navigate-btn{
    background-color: lime;
    color: black;
    width: 150px;
    height: 35px;
    margin-top: -2rem;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.header__navigate-btn:hover{
    background-color: limegreen;
    color: black;
}
.header__navigate-btn:active{
    transform: scale(1.2, 1.2);
}
.header__light{
    background-color: rgb(0, 174, 255) ;
}

.header__drawer-header{
    background-color: rgb(90, 89, 89);
    color: lime;
}
.header__drawer-header-light{
    color: black;
    background-color: white;
}
.header__drawer-body{
    background-color: rgb(141, 140, 140);
    color: white;
}
.header__drawer-body-light{
    color: black;
    background-color: white;
}
