.header__navigate-btn{
    background-color: lime;
    color: black;
    margin-top: -4rem;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.header__navigate-btn:hover{
    background-color: limegreen;
    color: black;
}
